project:
  type: website

website:
  title: "CFI - Diagnostico Ecosistema Libro"
  navbar:
    logo: img/logo.png
    left:
      - href: index.qmd
        text: Inicio
      - href: diagnostico.qmd
        text: Diagnóstico inicial
      - href: tarjetas.qmd
        text: Tarjetas de Diagnóstico
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

